/* Theme Rule */
:root {
  --bg-color: #1f242d;
  --text-color: #fff;
  --logo-color: #12d8fa;
  --main-color: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  --btn-color: #646cff;
  --menu-color: #2af598;
  --fb-logo: #0866ff;

  --modal-bg-color: #ffff;
  --modal-bd-color: #000;
  --modal-text-color: #000;
}
